$violet--eggplant: #7F0055;
$green: #006600;
$black: #000000;
$blue--medium: #0000C0;

.interface {
    color: $black;
}

.keyword {
    font-weight: bold;
    color: $violet--eggplant;
}

.interface-name {
    font-weight: bold;
    color: $green;
}

.name {
    color: $green;
}

.type {
    font-weight: bold;
    color: $blue--medium;
}
